<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="BDCONEXION" connectionString="Data Source=.;Initial Catalog=BDIMPORTACIONESKARINA_20200123_18;User ID=sa;Password=@1234@ABCD@" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDCONEXION" connectionString="Data Source=alvaradovmt.sytes.net;Initial Catalog=BDVMT;User ID=sa;Password=@LV@R@D0" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDCONEXION" connectionString="Data Source=alvaradovmt.sytes.net;Initial Catalog=BDVMT;User ID=sa;Password=@LV@R@D0" providerName="System.Data.SqlClient" />-->

    <!--<add name="BDCONEXION" connectionString="Data Source=190.117.137.161;Initial Catalog=BDALVARADO20200617;User ID=sa;Password=@1234@ABCD@" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDCONEXION" connectionString="Data Source=alvaradovmt.sytes.net;Initial Catalog=BDVMT_20200630_13;User ID=sa;Password=@LV@R@D0" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDCONEXION" connectionString="Data Source=alvaradovmt.sytes.net;Initial Catalog=BDVMT;User ID=sa;Password=@LV@R@D0" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDCONEXION" connectionString="Data Source=.;Initial Catalog=BDROMAN_20200516;User ID=sa;Password=@1234@ABCD@" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDCONEXION" connectionString="Data Source=.;Initial Catalog=BDABC_20200513_LIMPIO3;User ID=sa;Password=@1234@ABCD@" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDCONEXION" connectionString="Data Source=karinaeirl.sytes.net;Initial Catalog=BDIK_20200520_13;User ID=sa;Password=K@R1N@" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDCONEXION" connectionString="Data Source=.;Initial Catalog=BDRDR_20200516;User ID=sa;Password=@1234@ABCD@" providerName="System.Data.SqlClient" />-->
    <add name="BDCONEXION" connectionString="Data Source=koreapartsabc.sytes.net;Initial Catalog=BDKPABC20200603-1;User ID=sa;Password=@LV@R@D0" providerName="System.Data.SqlClient" />
    <!--<add name="BDCONEXION" connectionString="Data Source=.;Initial Catalog=BDREEIM_20200508;User ID=sa;Password=@1234@ABCD@" providerName="System.Data.SqlClient" />-->
  </connectionStrings>



  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
